<section class="max-w-3/4 mx-auto w-3/4 my-10 t">
  <h2>Preguntas frecuentes</h2>
  <div
    class="divide-y divide-gray-100 rounded-xl border border-gray-100 bg-white"
  >
    <details class="group p-6 [&_summary::-webkit-details-marker]:hidden" open>
      <summary
        class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900"
      >
        <h3 class="text-lg font-bold">
          ¿Puedo tener un gato sin pelo si tengo alergia a los gatos?
        </h3>

        <span class="relative h-5 w-5 shrink-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 h-5 w-5 opacity-100 group-open:opacity-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="absolute inset-0 h-5 w-5 opacity-0 group-open:opacity-100"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
        </span>
      </summary>

      <p class="mt-4 leading-relaxed text-gray-700 mb-2">
        <strong>LOS GATOS SIN PELO DAN ALERGIA</strong> Hay un falso mito
        alrededor de las alergias al gato sin pelo. La gran mayoría de personas
        alérgicas a los gatos creen que proviene del pelo del felino. En parte
        tienen razón, pero la verdad es que no vienen de allí, al menos en todos
        los casos.
      </p><p class="mb-2">
        La alergia al gato proviene de la sensibilidad a la proteína Fel D10, la
        cual podemos encontrar en la saliva y en las glándulas del felino. Eso
        provoca que durante sus auto-higienes extiendan su saliva por las
        patitas, lomo y partes que puede lamer. <strong
          >La proteína queda impregnada en su pelo y éste va cayendo. Por ese
          motivo el pelo que encontramos de nuestro minino nos puede provocar
          alergia. No por el pelo en si, sino por la proteína adherida en él.</strong
        > Ahora bien, no por tener menos pelo nos libraremos de esa alergia.
        Estos gatos sin pelo SÍ presentan esa proteína.
      </p>Nuestra recomendación es, que si queréis adoptar un gato sin pelo o
      comprarlo, os lo penséis 2 veces antes hacerlo si dais positivo en las
      pruebas de alergia. Hay razas de gatos como el Bengalí o el Siberiano que
      tienen niveles más bajos de esa proteína. "Lo común es pensar que la
      alergia es provocada por el pelo del felino. Es un falso mito. La proteína
      Fel D10, presente en su saliva y glándulas es causante de las alergias"
    </details>
  </div>

  <details class="group p-6 [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900"
    >
    <h3 class="text-lg font-bold">¿Qué precio tiene un gato sin pelo?</h3>

      <span class="relative h-5 w-5 shrink-0">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="absolute inset-0 h-5 w-5 opacity-100 group-open:opacity-0"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="absolute inset-0 h-5 w-5 opacity-0 group-open:opacity-100"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
      </span>
    </summary>

    <p class="mt-4 leading-relaxed text-gray-700 mb-2">
      Los gatos sin pelos están considerados como gatos exóticos, es por ello
      que su precio no es igual al de cualquier otro felino. Para mucha gente
      son gatos raros y curiosos y eso provoca un aumento de precio considerable
      dependiendo de su procedencia, padres y cría. Aunque gatos como el Bambino
      o el Levkoy Ucraniano no son tan habituales, es fácil hacernos con Sphynx
      baratos en páginas de venta de segunda mano. </p> <p class="mb-2">Pero creemos que no es ni el
      sitio ni la forma de venderlos, así que no les haremos publicidad. El
      precio de los gatos egipcios, por ejemplo, pueden oscilar entre los 700 y
      los 1200€ si vivís en España. Es posible que veáis precios muy superiores
      de 2000 o 2500. En este caso son criados para exposición y/o reproducción.</p>
    
  </details>
  <details class="group p-6 [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900"
    >
    <h3 class="text-lg font-bold">¿Qué debo saber si compro un gato sin pelo?</h3>

      <span class="relative h-5 w-5 shrink-0">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="absolute inset-0 h-5 w-5 opacity-100 group-open:opacity-0"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="absolute inset-0 h-5 w-5 opacity-0 group-open:opacity-100"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
      </span>
    </summary>

    <p class="mt-4 leading-relaxed text-gray-700 mb-2">
      Saber la procedencia del felino, tanto de los padres, del criadero como del país que viene. Informados bien, puede ser que los padres tuvieran una enfermedad tipo Cardiomiopatía hipertrófica y la cría la herede. No por ello vamos a descartarlo, claro está, pero sabremos cómo reaccionar en el caso de complicaciones.</p>

 <p class="mb-2">Quien te venda el gatito debe entregarte el certificado veterinario acreditando vacunas y desparasitaciones.</p>

<p>Asegurarse que el el gato no presente problemas de tipo intestinal, úlcera u otras enfermedades comunes entre gatos de esta raza.</p>
    
  </details>
  <details class="group p-6 [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900"
    >
    <h3 class="text-lg font-bold">Adoptar un gato sin pelo</h3>

      <span class="relative h-5 w-5 shrink-0">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="absolute inset-0 h-5 w-5 opacity-100 group-open:opacity-0"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="absolute inset-0 h-5 w-5 opacity-0 group-open:opacity-100"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
      </span>
    </summary>

    <p class="mt-4 leading-relaxed text-gray-700 mb-2">
      Seguid los consejos de la protectora o la persona encargada de él en ese momento. Tienen años de práctica y saben como cuidar a cualquier tipo de animal. Hacedles caso.</p>

 <p class="mb-2">No vais a encontrar un gato Sphynx en adopción fácilmente. Como hemos dicho la tasa de abandono de este tipo de felinos es muy baja. Nuestra recomendación es que os informéis cuando adoptéis un gato esfinge. Hay gente a la que su gata le ha criado pero no quiere vender cachorros porque lo encuentra una mala praxis.</p>

<p>En el caso que consigáis uno de protectora adulto, tened paciencia. Estos gatos son muy afectivos y sociables, pero tienen que habituarse a su nuevo territorio y a vosotros. Es posible que los primeros días se muestre reacio al contacto humano. No hay gato encerrado, simplemente necesita tiempo.</p>
    
  </details>
  
</section>
