---
---

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900  text">Cuidados de los gatos sin pelo</h2>
            <p class="text-gray-700 sm:text-m">Nuestra mascota requiere la mejor atención. Es por ello que aquí tenéis La Guía Básica de Cuidados de este tipo de gatos.Es vital saber cómo tenemos que cuidar un gato sin pelo. Desde su higiene hasta la alimentación son temas muy importantes. La verdad es que son como los gatos comunes, pero su ausencia de pelaje hace que tengamos que tener en cuenta algunas cosas.</p>
            <p class="text-gray-700 sm:text-m ">Es importante saber también <strong>que su sudoración y los pliegues de su piel te exigirán una higiene frecuente </strong>(1 o 2 veces por semana). No recomendamos bañarlos, ya que sabemos que los felinos y el agua no son buenos amigos, pero sí limpiarlos con una esponjita especial o toallita recomendada SIEMPRE CON PRODUCTOS ESPECÍFICOS PARA ESTAS RAZAS. De esta manera, además de una buena higiene, evitaremos irritaciones de piel.</p>
        </div>
        <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
            <div>
               
                <h3 class="mb-2 text-xl font-bold dark:text-white">Alimentación</h3>
                <p class="text-gray-700  text-sm">La alimentación de un gato de este tipo tiene que ser controlada y mayoritariamente se recomienda que coman piensos exclusivos de su raza. Aquí tenéis uno de los mejores piensos para gatos sin pelaje según los expertos. Como cualquier felino pueden comer alimentación húmeda o semihúmeda. ¡Sí! Es su cena favorita.</p>
            </div>
            <div>
                
                <h3 class="mb-2 text-xl font-bold dark:text-white">Orejas y Ojos</h3>
                <p class="text-gray-700  text-sm">Dos de las partes (además de la piel) a tener muy en cuenta. No tienen pestañas, por lo que no hay protección natural a la entrada de polvo. Eso provoca que se rasquen frecuentemente y se les pueda llegar a producir una infección. Lo mejor es consultar con tu veterinario o especialista y que te recomiende un suero o líquido para poderle limpiar los ojitos. Igual pasa con las orejas del minino, se les ensucian frecuentemente y deben ser limpiadas con los materiales adecuados.</p>
            </div>
            <div>
                
                <h3 class="mb-2 text-xl font-bold dark:text-white">Piel</h3>
                <p class="text-gray-700  text-sm">Debido a su ausencia de pelo, la piel es sensible como la de los humanos. Es por ello que tenemos que tener cuidado a las exposiciones al sol, ya que se pueden quemar. En relación a su piel, también es importante saber que tienen más frío que cualquier animal peludo. En invierno buscarán el calor humano, pero si no queréis dormir con ellos, recomendamos que os hagáis con unas mantitas para él y los tapéis con ellas.</p>
            </div>
            
            
        </div>
    </div>
  </section>