---

---


<section class= "bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-200 sm:text-lg">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Cómo se llama el gato sin pelo</h2>
            <div class='text-base'>
            <p class="mb-4">Depende de donde vivamos,  los conocemos como gato sin pelos, gatos calvos o gatos pelones. Realmente no es que este tipo de felino no tengan pelo. De hecho sí que tienen. Lo que pasa es que es un velo muy fino y corto que resulta casi imperceptible al tacto o a la vista vista. Durante el repaso a su historia encontramos gatos bebé que nacen con ausencia de pelaje y otros que nacen con, pero lo van perdiendo durante el paso de los años.</p>
            <p>En esta web encontraréis información sobre los diferentes tipos de gato sin pelo que hay. Así como los mininos comunes, fácilmente identificables por sus colores y tamaños, los gatos sin pelaje también tienen sus variedades.</p>
            <p>La raza más conocida es el Sphynx (se pronuncia Sfinks) o gatos esfinge.  Pero hay algunas razas más que quizás no conocíais como el Don Sphynx , el Peterbald o el gato elfo.</p>
        </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="/images/home/cat_sphynx_2.jpeg" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="/images/home/cat_sphynx.jpeg" alt="office content 2">
        </div>
    </div>
</section>