---

---


<section class="dark:bg-white bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-200 sm:text-lg dark:text-gray-800">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">We didn't reinvent the wheel</h2>
            <p class="mb-4">We are strategists, designers and developers. Innovators and problem solvers. Small enough to be simple and quick, but big enough to deliver the scope you want at the pace you need. Small enough to be simple and quick, but big enough to deliver the scope you want at the pace you need.</p>
            <p>We are strategists, designers and developers. Innovators and problem solvers. Small enough to be simple and quick.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://cdn.midjourney.com/921133e1-4150-482f-a1bc-674ad77ca330/0_0.webp" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://cdn.midjourney.com/d7e3a6c7-f01d-4590-ad06-3b166909facd/0_2.webp" alt="office content 2">
        </div>
    </div>
</section>