---

---



<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="max-w-screen-lg text-black sm:text-lgtext-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">Origen del  <span class="font-extrabold">gato sin pelos</span></h2>
            <p class="mb-4 font-light">Estos animalitos de orejas grandes, tamaño mediano y ojos almendrados, son originarios de diferentes países según el tipo.


                Por ejemplo el Sphynx o también llamado gato esfinge apareció en Canadá y su ausencia de pelo es debida a una mutación genética natural.
                
                
                Otras razas como el don sphynx, originario de Rusia, deben su ausencia a una pérdida de manera progresiva de cabello del Donkskoy original.</p>
            <p class="mb-4 font-medium ">Otras razas de gatos sin pelaje fueron creadas en laboratorios, donde los criadores quisieron fijar y mantener las características especiales de los originarios pero con variaciones.


                Todos tienen características especiales y comunes.</p>

                <p class="mb-4 font-bold">Delgados pero musculados | Cariñoso, sociable y pacífico |  Ojos almendrados y orejas grandes |  Sensibles a los cambios de temperatura | Tamaño mediano</p>
            
            
        </div>
    </div>
  </section>