---
const platform = "github";
const username = "withastro";
import Social from "./Social.astro";
import './Footer.module.css'
---



<footer class="mt-0 bg-white dark:bg-gray-900">

  <div
  class="mb-10 mt-10 sm:flex sm:items-center sm:justify-between "
>
  <ul class="flex flex-wrap justify-center gap-4 text-xs lg:justify-end">
    <li>
      <a href="#" class="text-gray-500 transition hover:opacity-75">
        Terms & Conditions
      </a>
    </li>

    <li>
      <a href="#" class="text-gray-500 transition hover:opacity-75">
        Privacy Policy
      </a>
    </li>

    <li>
      <a href="#" class="text-gray-500 transition hover:opacity-75">
        Cookies
      </a>
    </li>
  </ul>

  
</div>
</footer>