---
import Navigation from "./Navigation.astro";
import { Image } from "astro:assets";
---

<header >
  <nav class="flex flex-row justify-around content-center items-center border-gray-200 bg-white fixed z-50 w-full py-5">
    <a href="/"> <Image
      src="/images/logo-gato-sin-pelo.png"
      alt="logo gato sin pelo"
      width={180}
      height={200}
    /> </a>
    
    <Navigation />
  </nav>
</header>
