---
import Navigation from "./Navigation.astro";
import { Image } from "astro:assets";
import logo from "../assets/logo-gato-sin-pelo.png"
---

<header >


  <div class="navbar bg-base-100 ">
    <div class="flex-1 px-10 pt-2">
      <a href="/">
      <Image src={logo} alt="logo gato sin pelo" width={150} height={200}>
      </a>
    </div>
    <div class="flex-none z-50 px-10">
      <Navigation/>
    </div>
  </div>
</header>
