---

---

<div id="navigation" class=" flex gap-8 uppercase font-bold text-black dark:text-white">
  <a href="/" class="cursor-pointer hover:text-slate-600">Inicio</a>
  <a href="/about/" class="cursor-pointer hover:text-slate-600">Sobre mi</a>
  <a href="/category/" class="cursor-pointer hover:text-slate-600">Etiquetas</a>

</div>