---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const {currentSlug, category} = Astro.props
import { cn } from "../scripts/cn";

const allPosts = await getCollection("posts");
async function getFilteredPosts() {
  // Verifica la estructura de sortedPosts
  const filteredPosts = await allPosts.filter(
  (post) => post.data.category === category && post.slug !== currentSlug
  );
  return filteredPosts;
}

const posts = (await getFilteredPosts()).slice(0,4);

console.log(allPosts[3])
---


<aside
  aria-label="Related articles"
  class="py-8 lg:py-16 bg-gray-50"
>
  <div class="px-4 mx-auto max-w-screen-2xl">
    <h2 class="mb-8 text-2xl text-center font-bold text-gray-900 dark:text-white">
      Related articles
    </h2>
    <div class="flex flex-col md:flex-row sm:justify-between gap-8">
      {
        posts.length > 0 ? (
          posts.map((post) => {
            return (
              <div class='flex flex-wrap gap-2'>
                <div class='min-h-full'>
                  <Image
                    src={post.data.image.url}
                    width={200}
                    height={200}
                    format='webp'
                    class='w-16 h-16 object-cover rounded-full  '
                    alt={`img of ${post.data.title}`}
                  />
                </div>
                <p class='flex justify-center items-center'>
                  <a class='font-medium  hover:underline' href={`/blog/${post.slug}`}>
                    {post.data.title}
                  </a>
                </p>
              </div>
            )
          })
        ) : (
          <span class='text-gray-500'>No hemos encontrado artículos relacionados. 😢</span>
        )
      }
    </div>
  </div>
</aside>


