<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 my-10">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-4 py-3 text-center font-extrabold">Peso del Gato Sin Pelo</th>
        <th scope="col" class="px-4 py-3 text-center font-extrabold">Sobre Peso</th>
        <th scope="col" class="px-4 py-3 text-center font-extrabold">Peso Normal</th>
        <th scope="col" class="px-4 py-3 text-center font-extrabold">Bajo Peso</th>
        
    </thead>
    <tbody>
      <tr class="border-b dark:border-gray-700">
        <th
          scope="row"
          class="px-4 py-3 font-medium  text-gray-900 whitespace-nowrap dark:text-white text-center"
          >2 Kg
          
          </th
        >
        <td class="px-4 py-3 text-center">45</td>
        <td class="px-4 py-3 text-center">35</td>
        <td class="px-4 py-3 text-center">-</td>
      
      </tr>
      <tr class="border-b dark:border-gray-700">
        <th
          scope="row"
          class="px-4 py-3 font-medium  text-gray-900 whitespace-nowrap dark:text-white text-center"
          >3 Kg
          
          </th
        >
        <td class="px-4 py-3 text-center">70</td>
        <td class="px-4 py-3 text-center">50</td>
        <td class="px-4 py-3 text-center">-</td>
      
      </tr>
      <tr class="border-b dark:border-gray-700">
        <th
          scope="row"
          class="px-4 py-3 font-medium  text-gray-900 whitespace-nowrap dark:text-white text-center"
          >4 Kg
          
          </th
        >
        <td class="px-4 py-3 text-center">95</td>
        <td class="px-4 py-3 text-center">70</td>
        <td class="px-4 py-3 text-center">-</td>
      
      </tr>
      <tr class="border-b dark:border-gray-700">
        <th
          scope="row"
          class="px-4 py-3 font-medium  text-gray-900 whitespace-nowrap dark:text-white text-center"
          >5 Kg
          
          </th
        >
        <td class="px-4 py-3 text-center">115</td>
        <td class="px-4 py-3 text-center">85</td>
        <td class="px-4 py-3 text-center">75</td>
      
      </tr>
      <tr class="border-b dark:border-gray-700">
        <th
          scope="row"
          class="px-4 py-3 font-medium  text-gray-900 whitespace-nowrap dark:text-white text-center"
          >6 Kg
          
          </th
        >
        <td class="px-4 py-3 text-center">120</td>
        <td class="px-4 py-3 text-center">95</td>
        <td class="px-4 py-3 text-center">75</td>
      
      </tr>
      <tr class="border-b dark:border-gray-700">
        <th
          scope="row"
          class="px-4 py-3 font-medium  text-gray-900 whitespace-nowrap dark:text-white text-center"
          >7 Kg
          
          </th
        >
        <td class="px-4 py-3 text-center">-</td>
        <td class="px-4 py-3 text-center">120</td>
        <td class="px-4 py-3 text-center">105</td>
      
      </tr>
     
    </tbody>
  </table>
</section>
