---
import Navigation from "./Navigation.astro";
import { Image } from "astro:assets";
import logo from '../../assets/logo-gato-sin-pelo.png'
---

<header >


  <div class="navbar bg-base-100 flex flex-row justify-around">
    <div class="flex px-10 pt-2">
      <a href="/">
      <Image src={logo} alt="logo gato sin pelo" width={150} height={200}>
      </a>
    </div>
    <div class="flex z-50 px-20 ">
      <Navigation/>
    </div>
  </div>
</header>
