---
import { getCollection } from "astro:content";
const AllRazas = await getCollection("razas");
const AllPosts = await getCollection("posts");

import { sortByDate } from "../../scripts/sortFunctions";
const posts = sortByDate(AllPosts)
const razas = sortByDate(AllRazas);

---





  <ul class="menu menu-horizontal p-0">
    <li class="">
      <details>
        <summary class="cursor-pointer">
          Razas
        </summary>
        <ul class="p-2 bg-base-100 min-w-max">
          {razas.map((post) => (
            <li class="my-2">
              <a href={`/${post.slug}`} class="text-base hover:text-blue-500">
                {post.data.title}
              </a>
            </li>
          ))}
        </ul>
      </details>
    </li>
    <li class="">
      <details>
        <summary class="cursor-pointer">
          Artículos
        </summary>
        <ul class="p-2 bg-base-100 min-w-max">
          {posts.map((post) => (
            <li class="my-2">
              <a href={`/blog/${post.slug}`} class="text-base hover:text-blue-500">
                {post.data.title}
              </a>
            </li>
          ))}
        </ul>
      </details>
    </li>
  </ul>


