---
import { getCollection } from "astro:content";
const AllRazas = await getCollection("razas");
import { sortByDate } from "../../scripts/sortFunctions";
const razas = sortByDate(AllRazas);

---

<html lang="en">
<head>



<ul class="menu menu-horizontal ">
  
  <li class="">
    <details>
      <summary>
        Razas
      </summary>
      <ul class="p-1 bg-base-100">
      {razas.map ((post)=> (<li><a href={`/${post.slug}`}>{post.data.title}</a> </li>)  
          
       )}

        
        
      </ul>
    </details>
  </li>
</ul>


